/* RESPONSIVE NAVIGATION */
@media screen and (min-width: 1000px) {
  .navigation-drawer {
    min-height: auto;
    width: auto;
    padding: 0;
    background-color: transparent;
    flex-direction: row;
    justify-content: space-between;
    position: static;
    box-shadow: none;
    transform: translateX(0);
  }

  .nav-list {
    flex-direction: row;
  }

  .nav-list li button {
    display: inline-block;
    color: #eeeeee;
    background: transparent;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font: inherit;
    transition: color 0.2s;
  }

  .nav-list li button::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: #eeeeee;
    transition: width 0.2s;
    margin: 0 auto;
  }

  .nav-list li button:hover {
    color: #00adb5;
  }

  .nav-list li a {
    display: inline-block;
    color: #eeeeee;
  }

  .nav-list li a::after {
    background-color: #eeeeee;
  }

  .nav-list li a:hover {
    color: #00adb5;
  }

  .nav-list li a#new-story {
    background-color: transparent;
    color: #eeeeee;
  }

  .nav-list li a#logout {
    background-color: transparent;
    color: #eeeeee;
    border: 0.5px solid #eeeeee;
  }

  .nav-list li a#logout:hover {
    background-color: #e74c3c;
    color: #eeeeee;
  }

  .drawer-button {
    display: none;
  }

  .modal-popup {
    width: 25%;
  }
}